---
// import {getCollection, CollectionEntry, getEntryBySlug} from "astro:content"
import { getCollection, type CollectionEntry } from "astro:content"

// import Layout from '../layouts/Layout.astro';
import Layout from '../../layouts/Layout.astro'
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import PostTOC from "../../components/PostTOC.astro";
import PostShare from "../../components/PostShare.astro"
import BackToAllBlogs from "../../components/BackToAllBlogs.astro";
import {Image} from "astro:assets"
// import xxx from "../images/speaker.jpg";


export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  
  const paths = posts.map(post=> {
    return {
      params: {
        slug: post.slug
      },
      props: {
        post
      }
    }
  })
  return paths;
}

type Props = {
    post: CollectionEntry<"posts">
}
// NOTE: Astro looks for [slug].astro ?!? later...
const { post } = Astro.props;

// FRIDAY
const YYY = post.data.image
// import XXX from YYY

const {Content, headings} = await post.render();
console.log(headings)
---

<Layout title={post.data.title} image={post.data.image} description={post.data.description}>
  <Main>

      <BackToAllBlogs />
      <!-- <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block"
      >&larr; Back to all blogs</a> -->
      
      <H1 text={post.data.title} />

      <div class="flex flex-wrap">        
        <p class="flex-auto text-left">I am [slug].astro</p>
        <p class="flex-auto">{post.data.author}</p>
        <p class="flex-auto text-right">{post.data.date}</p>
  
        <!-- FRIDAY -->
        <!-- <Image
        class="flex-auto rounded-2xl shadow-xl mb-28 aspect-thumbnail object-cover"
        src={post.data.image}
        alt={post.data.title}
        width={1024}
        height={1024 / 2}
        props.format="webp"
        />
      </div> -->

      <div class="relative flex gap-x-12">
        <PostShare post={post}/>
        <div class="prose prose-2xl overflow-visible relative mb-20">
          <Content />
        </div>
        <PostTOC headings={headings} />
      </div>

  </Main>
</Layout>