---
import { type CollectionEntry } from "astro:content"
import {Image} from "astro:assets"
// import myImage from "src/content/posts/Ximages/cloudSquare.jpg"
// import myImage from "../content/posts/X2images/cloudSquare.jpg"

import CategoryList from "./CategoryList.astro"

type Props = {
    post: CollectionEntry<"posts">
    featuredPostsGroupName?: string
}

const {post} = Astro.props
// import theImage from `${post,data,image}`
// import image into variable?
// look at images and Ximages folders for right location so as not to crash
// ??? ??? ??? import xxx from post.data.image;
---
<!-- src={xxx} -->
<!-- src={myImage} -->
<!-- src={post.data.image} -->
<article class="grid grid-cols-2 gap-x-12 gap-y-5 mb-28 max-lg:grid-cols-1 max-sm:mb-12">
    <a href={`/blog/${post.slug}`}>
        <Image
            src={post.data.image}
            alt={post.data.title}
            width={1024}
            height={1024 / 1.5}
            format="webp"
            class="rounded-2xl aspect-thumbnail object-cover"
        />
    </a>

    <div>
        <div class="mb-4">
            <CategoryList categories={post.data.categories} />
        </div>

        <a
            href={`/blog/${post.slug}`}
            class="text-5xl text-zinc-900 mb-4 font-bold inline-block"
        >
        <h2>{post.data.title}</h2>            
        </a>

        <p class="text-zinc-500 text-2xl mb-9 line-clamp-3 max-xl:line-clamp-2">
            {post.body}
        </p>
        
        <span class="text-zinc-700 text-xl">
          {post.data.date}
      </span>
    </div>
</article>